/*
 * Empty Stylesheet file.
 */

.dashboard
{
    -fx-background-color: rgb(45,44,49); 
}
.zone-header,
.left-menu,
.footer-zone
{
    -fx-background-color: rgba(50,49,55,0.8);
    -fx-border-color: rgba(255,255,255,0.1);
}

.header-avatar
{
    -fx-border-radius: 2%;
    -fx-background-radius: 2%;
    -fx-padding: 10;
    -fx-background-color: firebrick;
}
.label-nom-user
{
    -fx-text-fill:rgba(255,255,255,0.9);
    -fx-font-size:17px;
    -fx-alignment:right;
}
.-header-btn-hambugur
{
    -fx-fill:rgba(255,255,255,0.9);
    -fx-cursor:hand;
}

.left-menu,
.layout-left-menu,
.left-menu-btn
{
    -fx-padding: 0 0 0 0;
    -fx-margin:0 0 0 0;
}
.left-menu-btn
{
    -fx-background-color:transparent;
    -fx-text-fill:rgba(255,255,255,0.5);
    -fx-border-style:solid;
    -fx-border-width: 0 0 2 0;
    -fx-border-color:rgba(255,255,255,0.2);
    -fx-min-height:40px;
    -fx-font-size:15px;
    -fx-alignment:left;
    -fx-padding: 0 0 0 10;
}
.left-menu-icon
{
    -fx-fill:rgba(255,255,255,0.5);
}
.left-menu-btn:hover .left-menu-icon
{
    -fx-fill:rgba(255,255,255,0.9);
}
.left-menu-btn:hover,
.left-menu-btn:focus
{
    
    -fx-cursor:hand;
    -fx-text-fill:rgba(255,255,255,0.9);
    -fx-border-color:rgba(255,255,255,0.6);
}

.label-foote-nom
{
    -fx-text-fill:rgba(255,255,255,0.8);
}