/*
 * Empty Stylesheet file.
 */

.title-signin
{
   -fx-text-fill: white;
   -fx-font-size:17px;
}
.btn-enregistrement
{
    -fx-background:inherit; 
    -fx-background-color: #D4E0BD;
    -fx-cursor: hand;
    -fx-font-size:13px;
}
.btn-enregistrement:hover
{
    -fx-background-color: #709148;
}
.btn-deja-compte
{
    -fx-underline: true;
    -fx-border:none;
    -fx-background-color: inherit;
    -fx-text-fill: white;
    -fx-font-size:12px;
    -fx-cursor: hand;
}