/*
 * Empty Stylesheet file.
 */

.borderPaneCreeCandidature
{
    -fx-border-width: 1;
    -fx-border-color: rgba(255,255,255,0.1);
    -fx-margin-right:10;
}
 
.creerCandidatureTopPane
{
    -fx-border-width: 0 0 1 0;    
    -fx-background-color: rgb(49,48,53);
}

.creerCandidatureBottomPane
{
    -fx-border-width: 1 0 0 0;
    -fx-background-color: rgb(49,48,53);
}

.borderPaneCreeCandidature,
.creerCandidatureBottomPane,
.creerCandidatureTopPane
{
    -fx-border-color: rgba(255,255,255,0.1);
}
