/*
 * Empty Stylesheet file.
 */

/*Input form*/

.input-search{
   -fx-background-color: rgba(50,49,55,0.8);
   -fx-border-width: 1 0 1 1;
   -fx-border-color: rgba(255,255,255,0.4);
   -fx-text-fill: #ffffff;
}
.input-search-icon-pane-zone
{
    -fx-border-width: 1 1 1 0;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-margin:0;
    -fx-padding: 0;
}
.input-search-icon
{
    -fx-background-color: rgba(50,49,55,0.8);        
    -fx-padding:5;
    -fx-fill: rgba(255,255,255,0.6);
}
/*Tab pane*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
.tab-header-area .headers-region,
.tab-header-area .control-buttons-tab,
control-buttons-tab:focus
{
    -fx-border-width: 0;
}
.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-border-width: 0 0 2 0;    
    -fx-border-color: rgba(255,255,255,0.1);
}
.tab-pane .tab
{
    -fx-background-color: inherit;        
}

.tab-pane .tab:selected
{
    -fx-border-width: 0 0 5 0;
    -fx-border-color: white;    
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: rgba(255,255,255,0.4);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-margin:10 0 10 0;
    -fx-cursor:hand;
}

.tab .tab-label:hover
{
    -fx-text-fill: rgba(255,255,255,0.7);
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}
.split-pane
{
    -fx-background-color:transparent;
    -fx-padding:0 25 0 0;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: rgba(255,255,255,0.9);
}

.list-user-view
{
    -fx-background-color: rgb(45,44,49); 
    -fx-control-inner-background:rgb(45,44,49);
    -fx-border-color: rgba(255,255,255,0.1);    
    -fx-graphic-text-gap:0;    
}
.list-user-view .list-cell:filled:focused,
.list-user-view .list-cell:selected
{
    -fx-background-color: rgb(78,75,84);
    -fx-text-fill: white;
}

.list-user-view .list-cell:filled:hover
{
    -fx-background-color: rgba(78,75,84,0.5);
    -fx-text-fill: rgba(255,255,255,0.7);  
    -fx-cursor: hand;
    
}
.list-user-view .list-cell:filled:hover .label-nom-user
{
    -fx-text-fill: rgba(255,255,255,0.7); 
}