/*
 * Empty Stylesheet file.
 */

.label-nom-user
{
    -fx-font-size:17px;
    -fx-text-fill: rgba(255,255,255,0.4);
}
.label-statut
{
    -fx-border:1px solid black;
    -fx-font-size:15px;
    -fx-background-color: rgba(255,0,0,0.5);
    -fx-text-fill: white;
}
.photo-zone
{
    -fx-border-color: rgba(0,0,0,0.5);
    -fx-border-width: 1px;
}
.zone-custom-profil
{
    
    -fx-background-color: rgba(50,49,55,0.8);
}

