/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 juil. 2020, 15:11:24
    Author     : NGUENDAP
*/

.text-area-raison
{
   
   -fx-text-fill: #ffffff;
}
.text-area-raison .content
{
    -fx-border-width: 1;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-background-color: rgb(50,49,55);
    -fx-display-caret: true;
}
