/*
 * Empty Stylesheet file.
 */

.label-infos-participant {
   -fx-text-fill: rgba(255,255,255,0.88);
   -fx-font-size:15px;
}
.btn-accept,
.btn-reject,
.btn-infos,
.btn-error,
.btn-action
{
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-border:none;
    -fx-height:100px;
    -fx-padding:5px 16px 5px 16px;
    -fx-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    -fx-cursor:hand;
}
.btn-success
{
   -fx-background-color: #5cb85c;
   -fx-border-color: #4cae4c; 
}
.btn-success:hover
{
    -fx-background-color: #4caf50;
}
.btn-infos
{
    -fx-background-color: #008CBA;    
}
.btn-error
{
    -fx-background-color: #d9534f;
    -fx-border-color: #d43f3a;
}
.btn-error:hover
{
    -fx-background-color:#dc3545;
}

.zone-btn-action
{
    -fx-border-width:1 0 0 0;
    -fx-border-color: rgba(255,255,255,0.4);
}
