/*
 * Empty Stylesheet file.
 */

.signup { 
 -fx-margin-top:20px;
 
}
.title-signup
{
   -fx-text-fill: white;
   -fx-font-size:17px;
}
.btn-enregistrer
{
    -fx-underline: true;
    -fx-border:none;
    -fx-background-color: inherit;
    -fx-text-fill: white;
    -fx-font-size:12px;
    -fx-cursor: hand;
}
.btn-connexion
{
    -fx-background:inherit; 
    -fx-font-size:13px;
    -fx-background-color: #D4E0BD;
    -fx-cursor: hand;
}
.btn-connexion:hover
{
    -fx-background-color: #709148;
}