.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.border-pane
{
    -fx-background-color:rgba(81,119,35,0.6);
}
.text-presentation
{
    -fx-text-fill:#fff;
    -fx-font-size:15px;
}
.right-pane
{
    -fx-background-color: #0F3A4F;
    -fx-padding:25px;
    -fx-margin:25px;
}

.split-pane
{
    -fx-background-color:rgba(81,119,35,0.1);
}
.bar-titre
{
    -fx-background-color: #517723;
    -fx-border-width:0px;
    -fx-margin:0px;
    -fx-padding:0px;
}
.window-button
{
    -fx-text-fill: #517723;
    -fx-font-size:27px;
    -fx-font-weight:bolder;
    -fx-cursor:hand;
}

.zone-btn-window
{
    -fx-margin-top:-10px;
    -fx-border-bottom-left-radius: 20px 20px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 0px;    
}
.zone-icon-label
{    
    -fx-font-size:18px;
}