/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 juil. 2020, 14:36:33
    Author     : NGUENDAP
*/
.label-custom
{
    -fx-text-fill:white;
    -fx-font-size:14px;
}
.label-custom-title
{
    -fx-font-size:15px;
}

.custom-input-text ,
.custom-input-text-area .content
{
    -fx-border-width: 1;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-background-color: rgba(50,49,55,0.8);
    -fx-min-height:35;
    -fx-display-caret: true;
    -fx-text-fill: rgba(255,255,255,0.9);
    -fx-fill: rgba(255,255,255,0.9);
    -fx-margin:0;
    -fx-padding:5;
}

.btn-action
{
    -fx-fill: white;
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-border:none;
    -fx-height:100px;
    -fx-padding:5px 16px 5px 16px;
    -fx-cursor:hand;
    -fx-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);    
}
.btn-action,
.btn-error,
.btn-success,
.btn-infos
{
    -fx-cursor: hand;
}

.btn-action:disabled,
.btn-error:disabled,
.btn-success:disabled,
.btn-infos:disabled
{
    -fx-cursor: null;
}
.btn-success
{
   -fx-background-color: #5cb85c;
   -fx-border-color: #4cae4c; 
}
.btn-success:hover
{
    -fx-background-color: #4caf50;
}
.btn-infos
{
    -fx-background-color: #008CBA;    
}
.btn-error
{
    -fx-background-color: #d9534f;
    -fx-border-color: #d43f3a;
}
.btn-error:hover
{
    -fx-background-color:#dc3545;
}
.icon
{
    -fx-fill: white;
    -fx-margin:0 5 0 0;
    -font-size:1.5em;
}